dateutils==0.6.7
irc==18.0.0
mysqlclient==1.4.6
praw==7.2.0
PyYAML==5.3
Jinja2==2.10.3
SQLAlchemy==1.3.12
git+https://github.com/reddcoin-project/python-twitter-webhooks.git
git+https://github.com/ryanmcgrath/twython.git
git+https://github.com/dpifke/pifkoin.git
git+https://github.com/reddcoin-project/python-reddcoinrpc.git
